* {
    margin: 0;
    padding: 0;
}

html {}

body {
    background-color: #63f74f;

}

/* navigation bar style */
nav {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: space-around;
    background-color: white;
}


.nav-logo img {
    width: 8rem;
    height: auto;
    margin: 1.5rem 0;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    width: auto;
    font-size: 1.5rem;
}

.nav-menu ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

#menu-1 {
    background-color: black;
    border-radius: 5px;
    font-size: 1.2rem;
    color: white;
    margin: 1rem;

}

#menu-1 li {
    margin: 0 20px;
    padding-top: .5rem;
}

#menu-1 :nth-child(3) {
    cursor: pointer;
}

.menu {
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    margin: 2px;
}

.nav-menu ul li a {
    text-decoration: none;
    color: inherit;
}

/* section -1 */

#container-1 {
    height: 81.9vh;
    display: flex;
    background-image: url('images/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.brand-name {
    width: 40vh;
    height: 65vh;
    display: flex;
    box-sizing: border-box;
    color: white;
    font-size: 6.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform: rotate(90deg);
    position: relative;

}

.brand-name span {
    transform: scaleY(-1);
    position: absolute;
    color: #63f74f;
}

#container-1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(transparent), to(#63f74f));
    background: linear-gradient(to bottom, transparent, transparent, #63f74f);
}

.base {
    display: flex;
    justify-content: space-between;
}

.base-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    margin: 5rem 10rem;
}

.base-info h5 {
    font-size: 1.5em;
    margin: 1rem;
}

.base-info hr {
    width: 4rem;
    transform: rotate(90deg);
    margin: 2.5rem 0rem;
}

.button {
    width: 10rem;
    height: 3rem;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid transparent;
    border-radius: 10rem;
    background-color: black;
    color: white;
    z-index: 1;
    transition: background-color 0.3s ease, background-color 0.3s ease-in;
}

.button:hover {
    color: black;
    background-color: white;
}

.icon-1 {
    display: flex;
    flex-direction: column;
    margin-left: 40rem;
    align-items: center;
    justify-content: center
}

.icon-1 a {
    width: 5rem;
    height: 5rem;
    background-color: #63f74f;
    color: aliceblue;
    border-radius: 100%;
    margin: 1rem;
}

.icon-1 a span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    font-size: 2.5rem;
}



/* section-2 */

.container-2 {
    width: 85%;
    background-image: url("images/about-bg.jpg");
    display: flex;
    margin: 10rem 14.2rem;
}

.para-img {
    width: 25%;
    color: white;
    margin: 3rem;
}

.para-img h2 {
    font-size: 2rem;
    margin: 1rem;
    font-family: 'Times New Roman', Times, serif;
}

.para-img p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 1rem;
}

.para-img hr {
    width: 40%;
    margin: 7rem 5rem;
    transform: rotate(90deg);
}

.para-img button {
    display: block;
    text-align: center;
    margin: 5rem;
    box-shadow: 0 0 20px #63f74f;
}

/* section - 3 */

.contianer-3 {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    margin: 5rem 13.4rem;
}

.head-para {
    margin: 4rem 0;
}

.head-para h2 {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 1rem 0;

}

.head-para p {
    font-size: 1rem;
    color: white;
    width: 75%;
}

.box-1 {
    display: flex;
    justify-content: flex-end;

}

.img {
    width: 55vh;
    height: 75vh;
    background-color: black;
    margin: .5rem;
    padding-left: 5rem;

}

.img-1 {
    width: 55vh;
    height: 75vh;
    background-image: url("images/c1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.img-2 {
    width: 55vh;
    height: 75vh;
    background-image: url("images/c2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.img-3 {
    width: 55vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 10rem 2rem;
}

.img-3 a span {
    width: 10vh;
    height: 10vh;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 100%;
    font-size: 1.5rem;
    margin: 0.5rem
}

.contianer-3 .img-3 a .icon-3 {
    width: 7vh;
    height: 7vh;
    align-items: center;

}

.img-3 a span:hover {
    background-color: white;
    color: black;
    transition: ease-in-out 0.44s;
    box-shadow: 0 0 34px black;
}

.icon-set {
    display: flex;
    margin: -8rem 0 0 -4rem;
    font-size: 1.5rem;
    color: whitesmoke;


}

.icon-set button {
    width: 50px;
    height: 50px;
    margin-right: 2.5rem;
    border-radius: 100%;
    border: 1px solid black;
    background-color: #292929;
    cursor: pointer;
}

.icon-set h2 {
    font-size: 3rem;
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.read-more {
    width: 170px;
    height: 50px;
    background-color: black;
    color: white;
    font-size: 1rem;
    border-radius: 20px;
    margin-top: 5rem;
    border: 1px solid #63f74f;
}

.read-more:hover {
    background-color: white;
    color: #292929;
    transition: 1s ease-in-out;
}

/* container--4 */
.head-para1 {
    margin: 15rem 0 5rem 18rem;
}

.head-para1 h2 {
    font-size: 2.4rem;
    margin: 5px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.head-para1 p {
    font-size: 1.5rem;
    color: white;
}

.blog-part {
    width: 100%;
    display: flex;
    /* flex-direction: column */
}

.blog {
    width: 49%;

}

#blog-left {
    padding-right: 20px;
}

#blog-right {
    padding-left: 10px;
}

.blog img {
    width: 100%;

}

.blog-inner {
    height: 25vh;
    background-color: #292929;
    display: flex;
    padding: 1rem;
    margin-top: -.5rem;
    flex-direction: column;
    color: white;
}

.blog-inner span {
    width: 10vh;
    height: 10vh;
    font-size: 1.5rem;
    display: flex;
    background-color: #63f74f;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    margin: -3.5rem 25rem;
}

.blog-inner h2 {
    margin: 5rem 0 0 15rem;
}

.blog-inner p {
    width: 60%;
    margin: 1rem 0 0 15rem;
}

.blog-inner button {
    width: 15vh;
    height: 5vh;
    margin: 1rem 0 0 15rem;
    border: #292929;

}

.blog-inner2 {
    height: 25.5vh;
    background-color: #292929;
    display: flex;
    padding: 1rem;
    margin-top: -.5rem;
    flex-direction: column;
    color: white;

}

.blog-inner2 span {
    width: 9vh;
    height: 9vh;
    background-color: #63f74f;
    margin: -3.5rem 25rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.blog-inner2 h2 {
    margin: 5rem 0 0 1rem;
}

.blog-inner2 p {
    width: 60%;
    margin: 1rem 0 0 1rem;
}

.blog-inner2 button {
    width: 15vh;
    height: 5vh;
    margin: 1rem 0 0 1rem;
    border: #292929;
}

/* contaier-5 */
.container-5 {
    margin: 10rem 0;
}

.students {
    text-align: center;

}

.students h2 {
    font-size: 2.5rem;
}

.students p {
    font-size: 1.2rem;
    color: white;
}

.profile-name {
    margin: 15px;
    font-size: 1.5rem;
}

.profile-name img {
    width: 15vh;
    height: 15vh;
    display: block;
    margin: auto;
    margin-top: -5rem;
}

.profile-name h2 {
    text-align: center;
    margin: 20px;
}

.students-list {
    display: flex;
    justify-content: center;
    margin: 8rem 0 0 0;
    color: white;
}

.students-1 {
    width: 25%;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.students-2 {
    width: 25%;
    display: flex;
    margin: 10px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.student-info img {
    width: 7%;
    display: block;
    margin: auto;
}

.student-info p {
    width: 95%;
    display: block;
    margin: auto;
    font-size: 1.2rem;
}

.scroll-btn {
    display: flex;
    justify-content: center;
    padding: 0 10px;
    margin-top: 55px;

}

.scroll-btn .bi-arrow-left-square-fill {
    width: 5rem;
    height: 5rem;
}

.scroll-btn .bi-arrow-right-square-fill {
    width: 5rem;
    height: 5rem;
    color: white;
}

/* container-6 */
.container-6 {
    display: flex;
    justify-content: end;
    margin-top: 5rem;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2.5rem;
}

.form h2 {
    font-size: 2rem;
    margin: 2rem;
    text-align: center;
    color: #292929;
}

.form-detail {
    display: flex;
    flex-direction: column;
}

.form-detail input {
    width: 60vh;
    height: 5vh;
    background-color: #292929;
    color: white;
    border: 1px solid #292929;
    border-radius: 5px;
    margin: 1rem;
}


.form input:nth-child(4) {
    height: 8rem;
}

.form button {
    width: 20%;
    height: 5vh;
    border-radius: 15px;
    font-size: 10;
    border: 1px solid #63f74f;
}

.form iframe {
    margin: 5rem 0;
}